/* blue #4980C4
yellow #fcb131
green #00a651
red #ee334e */


body {
  padding: 0;
  margin: 0;
  height:100%;
}

.navbar-nav.navbar-center {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}

hr {
  border: 10px;
  display:block;
  width: 95%;               
  background-color:#c7c6cc;
  height: 2px;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #0081c8
}

h2 {
  font-weight: 400;
  font-size: 28px;
  color:#7f7f83;
}

text {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  size: 100%;
}

#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 600px;
  width: 100%; 
}

svg {
  display: block;
  margin: auto;
}

#legend {
  margin-bottom: 20px;
  margin-top: 20px;
}

select {
  background-color: #fcefd9;
}

#selCountry {
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
}