/* blue #4980C4
yellow #fcb131
green #00a651
red #ee334e */


body {
  padding: 0;
  margin: 0;
  height:100%;
}

.navbar-nav.navbar-center {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}

.active {
  font-weight: bolder;
  background-color: #fff;
  outline:#dad9e0 solid 2px; 
}

hr {
  border: 10px;
  display:block;
  width: 95%;               
  background-color:#dad9e0;
  height: 2px;
}

h1 {
  text-align: center;
  font-size: 4.5vw;
  color: #0081c8
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  color:#77777a;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #0081c8
}

h4 {
  font-size: 16px;
}

h5 {
  text-align: center;
  font-size: 10px;
  color:#77777a;
}

h6 {
  font-weight:normal;
  font-size: 12px;
}

p {
  text-align: center;
  font-size: 2vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  size: 100%;
  padding-bottom: 5px;
}

#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 800px;
  width: 100%; 
}

#legend {
  margin-bottom: 20px;
  margin-top: 20px;
}

select {
  background-color: #eeeef0;
}

#selCountry {
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
}

svg {
  display: block;
  margin: auto;
} 
